.notion-dark_pink_background {
  background-color: rgb(105, 49, 76);
}

.notion-dark_brown_background {
  background-color: rgb(96, 59, 44);
}

.notion-dark_red_background {
  background-color: rgb(110, 54, 48);
}
.notion-dark_blue_background {
  background-color: rgb(40, 69, 108);
}
.notion-dark_teal_background {
  background-color: rgb(43, 89, 63);
}
.notion-dark_purple_background {
  background-color: rgb(73, 47, 100);
}
.notion-dark_yellow_background {
  background-color: rgb(137, 99, 42);
}
.notion-dark_orange_background {
  background-color: rgb(133, 76, 29);
}
.notion-dark_gray_background {
  background-color: rgb(90, 90, 90);
}