.container{
	display:  flex;
	font-size: 15px;
	margin-bottom: 2mm;
}

.date {
	color: #999999;
	font-weight: 700;
	margin-right: 10mm;
}

.name{
	width : 35mm;
	color: #666666;
	font-weight: 700;
	margin-right: 10mm;
}

.organization{
	color: #999999;
}