.date {
    color: #999999;
    font-weight: 700;
}

.name {
    color: #666666;
    font-weight: 700;
}

.grade {
    color: #999999;
}

.organization {
    color: #999999;
}

.container {
    display: grid;
    row-gap: 1mm;
    column-gap: 1mm;
    grid-template-columns: auto auto auto;
    font-size: 15px;
    margin-bottom: 2mm;
}

.cell {
    padding: 0 8px;
    text-align: left;
}
