.subStack{
	display: flex;
	justify-content: center;

	background-color: rgba(200,200,200,0.2);
	padding: 0.2rem;
	margin-bottom: 0.2rem;
	width: 60%;
	flex-wrap: wrap;
	position: relative;
	list-style: none;
	margin-left: 5rem;
	transform: translateX(-2.5rem);

	font-size: 0.8rem;
}

.item {
	font-size: 0.8rem;
	min-width: 3rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: rgba(200,200,200,0.4);
	text-align: center;
	margin : 0.1rem;

}


.subStackTitle{
	position: absolute;
	top: 50%;
	left: 0;

	transform: translate(-100%, -50%);

	padding: 0.5rem;
	font-weight: bold;
	font-size: 0.8rem;
	color : #777;
}
