.itemContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	font-size: 0.9em;
}

.itemLanguage {
}

.itemCount {
	color : #aaa;
}

.Compact {
	min-width: 10em;
	margin-right: 10px;
}