.itemContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	min-width: 100px;
}

.itemLanguage {
}

.itemCount {
	color : #aaa;
}

.Compact {
	min-width: 80px;
	margin-right: 10px;
}