.container {
	width: 100%;
	justify-content: center;
}
.title {
	margin-top : 0;
	margin-bottom: 0;
	text-align: center;	
}
.subContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}