.container {
    flex-direction: column;
}

.legend {
    width: 80%;
    justify-content: space-around;
    flex-direction: row !important;
    flex-wrap: wrap;
}

.title {
    margin: 0;
    text-align: center;
}
