.container {
	width: 100%;
	min-height: 80vh;
	margin-bottom: 20vh;
	display: flex;
	padding: 5%;
	box-sizing: border-box;
	position: relative;
	
	border : solid 1px rgba(240,240,240,1);
	background-color: rgba(240,240,240,0.1);
	box-shadow: 0 0 30px 30px rgba(230,230,230,0.2);

	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	font-size: 0.9rem;
}

.title {
	font-size: 1.8rem;
	margin: 0 0.5rem;
}

.header {
	position: relative;
	display: flex;
}

.description {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.item {
	box-shadow: 0 0 30px 30px rgba(230,230,230,0.2);
}