.mainStack {
	list-style: none;
	width: 50vw;
}

.subStack {
	display: flex;
	align-content: space-between;
	list-style: none;
	padding: 0;
}

.mainStackSub{
	width : 60%;
	background-color: #eee;
	border-radius: 0.5rem;
}

.subStackTitle{
	font-weight: bold;
}

.mainStackItem {
	border: solid black 1px;
	border-radius: 1rem;
}