.column {
    border-right: 1px solid rgba(55, 53, 47, 1);
    overflow: hidden;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8rem;

    padding: 0 8px;
}

.wrap {
    min-height: 3rem;
    white-space: pre-wrap !important;
}

.row {
    display: flex;
    border-bottom: 1px solid rgba(55, 53, 47, 1);
    height: 2rem;
}

.rowWrap {
    height: fit-content;
}

.label {
    min-width: 6px;
}
