.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8rem;
}

.nav {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0px 10px 10px rgba(230, 230, 230, 0.1);
}

.navItem {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    font-weight: 700;
    color: #aaa;
    padding: 0.5rem;
    margin: 0 1rem;
}

.active {
    color: red;
}

.title {
    font-size: 1.8rem;
    margin: 0 0 1rem;
}

.subcontainer {
    margin-bottom: 2.5rem;
    font-size: 1rem;
}

.item {
    box-shadow: 0 0 10px 10px rgba(230, 230, 230, 0.1);
}

.footercontainer {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    color: #bcbcbc;
    font-weight: 900;
    width: 100%;
    transform: translateY(-100%);
}

.footercontainer > p > * {
    margin-left: 0.25rem;
}
