.container{
	display: flex;
	flex-direction: column;
}
.track{
/*	border: #eee solid 1px;*/
	
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
}
.track > * {
	margin-right : 2.5rem;
	color : #777;
	font-weight: bold;
}
.track > *:hover{
	color: blue;
}

.track_title{
	width: 5rem;
	border:  #ddd solid 1px;
	padding: 0.5rem;
	border-radius: 0.5rem;

	font-weight: bold;
	color: black;
	text-align: center;

}


