.trackNav{
	width: fit-content;
	min-width: 100%;
	padding: 0 0.5rem 0 0.5rem;
	margin : 0;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	list-style: none;
	border-bottom: #eee;
	background-color: white;
}
.trackNavCloseTap{
	margin: 0.5rem 0 0 0.5rem;
}
.trackNavItem{
	width: 5rem;
	min-width: 5rem;
	height: 100%;
	background-size : cover;
	padding: 0.4rem;
	border-radius: 0.5rem 0.5rem 0  0;
	text-align: center;
	font-size: 0.8rem;
	overflow: hidden;
	white-space:nowrap;

}
.trackNavItem:hover{
	background-color: rgba(200, 200, 200, 0.2);
}

.bold{
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.3);
}
.bold:hover{
	background-color: rgba(0, 0, 0, 0.3);
}
.img {
	width: 2.5rem;
}