.container {
    display: flex;
    flex-direction: column;

    max-width: 720px;
    width: 80%;
    height: 80%;
    border-radius: 0.5rem;

    overflow-x: scroll;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
}
.content {
    width: max-content;
    min-width: 100%;
    min-height: 350px;
}
.footer {
    align-self: flex-end;
    transform: translate(-0.5rem, -0.5rem);
    color: #838383;
    font-weight: bold;
    font-size: 0.8em;
}

.title {
    font-size: 1rem;
}
