.tag{
	background-color: skyblue;
	color: white;
	font-weight: bold;
	font-size: 0.8rem;
	padding: 0.2rem;
	border-radius: 0.4em;
	height: wrap-content;
	white-space: nowrap;
	text-overflow: ellipsis;
}