.container {
	border-bottom: 1px solid #ddd;
	position: absolute;
}

.main_container {
	padding: 0.5em 5em 0;
	width: 100vw;
	min-height: 4.5em;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	background-color: #fff;
	justify-content: space-between;
	align-items: center;
}

.sub_container {
	min-height: 2em;
	width: 100vw;
	padding: 0rem 5rem;
	color: #ccc;
	font-weight: bold;
}

.container a {
	text-decoration: none;
}

.main_container a:visited{
	color : #000;
}

.sub_container a:visited{
	color : #ccc;
}

.main_container > * {
	margin: 0 1em ;
}


.links{
	flex-grow: 1.5;
	display: flex;
	flex-direction: row;
}
.links > * {
	margin-right: 1.5rem;
}

.active {
	color: red !important;
}

.contacts{
	display: flex;
	flex-direction: row;
}

.contacts img {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5rem;
}

