
.list {
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 2em;
}
.listTitle {
    margin-bottom: 0.8em;
}

.listItem {
    position: relative;
    width: fit-content;
}
.container {
    background-color: rgba(230, 230, 230, 0.2);
    border-radius: 1rem;
    width: 100%;
    padding: 1rem;
    color: #666;
    margin-left: 20px;
}
