.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.App > div {
  min-height: 10vh;
  flex-grow :1;
}

#content {
  padding : 0 5vw;
  flex-grow: 5;
}

#id{
  display: relative;
}