.container {
	overflow-y: scroll;
	color : gray;
	border-radius: 0.5rem;
	border:  0.5px solid #eee;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
  	margin: 0.5rem;
	box-shadow: 0 0 10px 10px rgba(230, 230, 230, 0.1)
}

.container::-webkit-scrollbar {
  display: none;
}

.header {
	min-height: 1.8rem;
	font-weight: 700;
	align-items: center;
	display: flex;
	justify-content: space-between;
  	padding: 0.5rem 0.5rem;
  	border-bottom: 1px solid #eee;
}