
.container {
	width: 1.8rem;
	height: 1.8rem;
	position: relative;
	cursor : pointer;
}


.icon {
	fill:none;
	stroke-miterlimit:10;
	stroke-width:1.8px;
}


.iconText{
}

.clicked  .icon {
	stroke: rgb(77, 164, 199);
}
.clicked  .iconText {
	fill: rgb(77, 164, 199);

}